/* styles.css */

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

/* Your custom styles go here */

.cards {
    background-color: #090707;
    width: 100%;
    height: auto;
  }
  .red-placeholder::placeholder {
    color: red;
  }

  .card{
    --mdb-card-box-shadow: 0 px;
  }
  

 /* YourComponent.css */

/* .hover-container {
  position: relative;
  overflow: hidden;
}

.hover-image {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hide {
  transform: translateX(100%) scale(0);
  opacity: 0;
}

.show {
  transform: translateX(0) scale(1);
  opacity: 1;
} */

  